ion-toolbar{
    --background: #1e1e2c
    --color: #fff;
}

.contenedor_corte{
    margin-bottom: 20px;
}



ion-item{
    --background: #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.nota_card{
    margin: 20px;
    padding: 20px;
}
.contenedorBoton{
    display: flex;
    flex-direction: column  ;
}

.no-notas{
    text-align: center;
    margin: 20px 0;
}

.no-notas{
    color: #a0a0a0;
    font-size: 18px;
}

ion-button{
    margin-right: 10px;
}