<ion-content>
  <!-- Si no hay materias, mostrar un mensaje -->
  <div *ngIf="controlMateria.length === 0" class="no-materias">
    <p>No tienes materias registradas aún.</p>
    <ion-button (click)="irAMateria()">Agregar Materia</ion-button>
  </div>


  <!-- Lista de materias cuando sí existen -->
  <ion-list *ngIf="controlMateria.length === 0 || controlMateria.length > 0 ">
    <ion-item *ngFor="let materia of controlMateria" (click)="irAMateria()">
      <ion-label>
        {{materia.nombre}} - {{EstadoMateria(materia)}}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para agregar una nueva materia -->
  <ion-button (click)="irAMateria()">Agregar Materia</ion-button>
  <ion-button (click)="clearStorage()">Limpiar Storage</ion-button>
</ion-content>